@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 208 100% 97.1%;
    --foreground: 215 28% 17%;
    --card: 208 100% 97.1%;
    --card-foreground: 215 28% 17%;
    --popover: 208 100% 97.1%;
    --popover-foreground: 215 28% 17%;
    --primary: 202 62% 83%;
    --primary-foreground: 199 76% 15%;
    --secondary: 225 100% 94%;
    --secondary-foreground: 215 19% 27%;
    --muted: 220 13% 96%;
    --muted-foreground: 215 14% 47%;
    --accent: 267 44% 73%;
    --accent-foreground: 268 42% 22%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 16% 84%;
    --input: 214 16% 84%;
    --ring: 267 44% 73%;
    --chart-1: 202 62% 73%; /* Lighter Primary */
    --chart-2: 267 44% 63%; /* Lighter Accent */
    --chart-3: 215 28% 57%; /* Mid Foreground */
    --chart-4: 225 100% 84%; /* Lighter Secondary */
    --chart-5: 200 50% 70%; 
    --radius: 0.5rem;

    /* Sidebar specific colors */
    --sidebar-background: 206 56% 95%;
    --sidebar-foreground: 215 28% 17%;
    --sidebar-primary: 202 62% 83%;
    --sidebar-primary-foreground: 199 76% 15%;
    --sidebar-accent: 208 60% 91%;
    --sidebar-accent-foreground: 220 29% 12%;
    --sidebar-border: 200 17% 83%;
    --sidebar-ring: 267 44% 73%;
  }

  .dark {
    --background: 215 28% 10%; /* Dark background */
    --foreground: 208 100% 90%; /* Light foreground */
    --card: 215 28% 10%;
    --card-foreground: 208 100% 90%;
    --popover: 215 28% 10%;
    --popover-foreground: 208 100% 90%;
    --primary: 202 62% 63%; /* Darker primary */
    --primary-foreground: 208 100% 95%;
    --secondary: 225 30% 20%; 
    --secondary-foreground: 208 100% 90%;
    --muted: 220 13% 15%;
    --muted-foreground: 215 14% 60%;
    --accent: 267 44% 63%; /* Darker accent */
    --accent-foreground: 208 100% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 214 16% 25%;
    --input: 214 16% 25%;
    --ring: 267 44% 63%;
    --chart-1: 202 62% 53%;
    --chart-2: 267 44% 53%;
    --chart-3: 215 28% 70%;
    --chart-4: 225 30% 40%;
    --chart-5: 200 50% 50%;

    --sidebar-background: 215 28% 12%;
    --sidebar-foreground: 208 100% 90%;
    --sidebar-primary: 202 62% 63%;
    --sidebar-primary-foreground: 208 100% 95%;
    --sidebar-accent: 208 30% 25%;
    --sidebar-accent-foreground: 208 100% 95%;
    --sidebar-border: 214 16% 20%;
    --sidebar-ring: 267 44% 63%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
